body, body *{
	border: 0px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
@font-face {
	font-family: bruselo;
	src : url(Bruselo-Script.ttf);
	font-weight: normal;
	font-size: medium;
}
@font-face {
	font-family: heading;
	src : url(TodaySHOP-Light_44888.ttf);
	font-weight: normal;
	font-size: medium;
}
@font-face {
	font-family: paragraph;
	src : url(todayshop-xlight.otf);
	font-weight: normal;
	font-size: medium;
}
header {
	height: 523px;
}
.navbar{
	position: relative;
    bottom: 824px;
}

#banner {
	position: relative;
	bottom: 353px;
	text-align: center;
}
span {
	color: white;
	font-family: bruselo;
	font-size: 80.54pt;
}
.navbar-header a{
	margin-right: 307px;
}
#bs-example-navbar-collapse-1 a{
	color: white;
	font-size: 14px;
}
section {
	max-width: 1280px;
	text-align: center;
}
.row {
	margin-top: 40px;
	display: inline-block;
	max-width: 960px;
}

.col-md-3 h1{
	font-family: heading;
	font-size: 15pt;
	text-align: left;
}

.col-md-3 p{
	font-family: paragraph;
	font-size: 13pt;
	text-align: left;
}
.title1 {
	text-align: left;
	padding-left: 100px;
}
.col-md-6 h1{
	font-family: heading;
	font-size: 15pt;
	text-align: left;
	padding-left: 100px;
}

.col-md-6 p{
	font-family: paragraph;
	font-size: 13pt;
	text-align: left;	
	padding-left: 100px;
}

#blog2 {
	margin-top: -3px;
}