*{
	box-sizing: border-box;
}
.wrap {
	max-width: 1000px;
	margin: auto;
}
img {
	max-width: 100%;
}
.box {
	border: 1px solid #dddddd;
	border-top-width: 5px;
	float: left;
	width: 33%;
}
.box img{
	height: 300px;
}
